@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.purple--text {
    color: rgb(100 21 255);
}

i {
    font-family: 'FontAwesome';
    font-style: normal;
}


/*

Navigation

*/


.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.nav__logo--img--wrapper {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    width: 50px;
    margin-right: 12px;
}

.nav__logo--text {
    font-size: 1.5rem;
    font-weight: 900;
    transition: 300ms ease;
}

.nav__logo--text:hover {
    color: rgb(80 17 204);
}

.nav__links--list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin-right: 2.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(36, 62, 99);
}


.nav__link--login {
    margin-left: 3rem;
}

.btn--purple {
    margin-right: 0;
    color: white;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    border: none;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn--purple:hover {
    background-color: rgb(80 17 204);
}


.nav__link--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.nav__link:hover {
    color: rgb(80 17 204);
    text-decoration: underline solid 2px;
}

.btn__mobile--menu {
    text-align: center;
    background-color: transparent;
    font-size: 24px;
    border: none;
    color: rgba(128, 128, 128, 0.582);
    transition: all 300ms ease;
    display: none;
}

.btn__mobile--menu:hover {
    color: rgb(80 17 204);
}

.mobile__menu--backdrop {
    position: absolute;
    background-color: white;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 100;
    margin: 1.5rem 1rem;
    border: solid 1px lightgray;
    padding: 2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
}

.btn__mobile--menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu--open .mobile__menu--backdrop {
    visibility: visible;
    opacity: 1;
}

.mobile__menu--links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile__menu--link {
    font-size: 18px;
    font-weight: 600;
    color: #1a202c;
}

.mobile__menu--list {
    margin: 8px 0;
}

/*

HEADER

*/

header {
    height: 100vh;
}

.row__header {
    display: flex;
}

.header__column--left {
    display: flex;
    flex-direction: column;
    width: 42%;
    max-width: 100%;
    text-align: left;
}

.header__title {
    font-size: 3rem;
}

.header__para {
    font-size: 1.125rem;
    margin: 32px 0;
}

.header__input--form {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 28rem;
}

.header__input--field {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
    border: 2px rgb(226, 232, 240) solid;
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    font-weight: 500;
    width: 100%;
}

.btn--purple--header {
    position: absolute;
    padding: 1rem 2.1rem;
    max-width: 100%;
    right: 0;
    margin-right: 5px;
}

.trusted__customers--wrapper {
    margin-top: 80px;
}

.trusted__customers--img {
    margin-top: 16px;
    width: 24rem;
    max-width: 100%;
}

.header__column--right {
    width: 58%;
}

.header__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.header__img {
    margin-top: 48px;
    width: 48rem;
    max-width: 100%;
}


/*

Features

*/

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-size: 3rem;
}

.section__sub-title {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(100 21 255);
    margin-bottom: 16px;
}

.section__para {
    margin-top: 18px;
    font-size: 1.125rem;
    line-height: 1.5;
    width: 36rem;
    max-width: 100%;
    font-weight: 500;
    color: rgb(124 139 161);
    margin-bottom: 40px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.features__list--item {
    width: calc(100% / 4);
    display: flex;
    margin: 32px 8px;
    padding: 2rem 0.5rem;
}

.features__list--item--img--wrapper {
    border: 1px solid lightgray;
    padding: 30px 30px;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.features__list--item--title {
    font-size: 1.5rem;
    font-weight: 700;
}

.features__list--item---para {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
    width: 200px;
    max-width: 100%;
}

.features__list--item--description {
    margin: 8px 0 0 16px;
}

/*

QUALITY WORK

*/

.row__quality-work {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-work__left--container,
.quality-work__right--container {
    width: 50%;
}

.quality-work__left--container {
    margin-right: 4rem;
}

.qualty-work__section--title {
    margin-top: 16px;
}

.quality-work__section--para {
    margin-top: 16px;
}

.section__img--wrapper {
    border: 1px solid lightgray;
    border-radius: 2px;
}

.section__img {
    width: 100%;
    max-width: 100%;
}


/*

STEPS

*/

.steps__left--container,
.steps__right--container {
    width: 50%;
    max-width: 100%;
}

.steps__right--container {
    margin-left: 64px;
}

.row__steps {
    display: flex;
    align-items: center;
}

.steps__img {
    width: 100%;
    max-width: 100%;
}

.steps__list--item {
    display: flex;
    margin: 32px 0;
}

.steps__list--wrapper {
    margin-left: 24px;
}


.steps__list--number {
    color: #cecece;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.steps__list--title {
    font-size: 20px;
    color: #243e63;
    font-weight: bold;
}

.steps__list--para {
    font-size: 18px;
    color: #718096;
    margin-top: 12px;
    line-height: 2;
}

/*

VALUES

*/

.row__values,
.values__icons__title--wrapper {
    display: flex;
    align-items: center;
}

.values__left--container,
.values__right--container {
    width: 50%;
    max-width: 100%;
}

.values__img {
    width: 100%;
}

.values__icons--wrapper,
.values__icons__title--wrapper {
    display: flex;
}

.values__icon--wrapper {
    background-color: lightgreen;
    border-radius: 50%;
    padding: 6px 8px;
}

.values__icon--title {
    margin-left: 12px;
    font-size: 20px;
    color: #243e63;
    font-weight: bold;
}

.values__icons--container {
    margin: 32px 32px 0 0;
}

.values__icon--para {
    margin-top: 16px;
    font-size: 16px;
    color: #718096;
}

.btn--purple--values {
    margin-top: 48px;
}

/*

PRICING

*/ 

.pricing__description--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4);
    max-width: 100%;
    margin: 64px 32px 0 0;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-radius: 10px;
    position: relative;
}

.pricing__wrapper--header-gradient {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


.pricing__header {
    padding: 2rem 0;
    text-transform: uppercase;
    line-height: 1.625;
    text-align: center;

}

.pricing__plans--details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    width: 100%;
    max-width: 100%;
    padding: 2rem;
    text-align: center;
}

.pricing__plan--details--title {
    font-size: 20px;
    color: #1A202C;
    font-weight: bold;
}

.pricing__list--item {
    font-size: 16px;
    color: #718096;
    margin-top: 20px;
    font-weight: 500;
}


.pricing__title {
    font-size: 20px;
    color: #1A202C;
    font-weight: bold;
}

.pricing__price {
    font-size: 48px;
    margin: 4px 0;
    color: #1A202C;
}

.pricing__duration {
    color: #a0aec0;
    font-weight: bold;
}

.pricing__plan--btn--container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 2rem 1rem;
}

.pricing__plan--btn {
    font-weight: bold;
    cursor: not-allowed;
    border: none;
    width: 75%;
    border-radius: 9990px;
    font-size: 14px;
    padding: 16px 32px;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


.pricing__wrapper--second {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: none;
}

.pricing__plans--details--second {
    border-top-color: rgb(110, 116, 221);
    border-bottom-color: rgb(110, 116, 221);
}

.pricing__title--second,
.pricing__list--item--second,
.pricing__duration--second,
.pricing__price--second,
.pricing__plan--details--title--second {
    color: white;
}

.pricing__plan--btn--second {
    color: rgb(100 21 255);
    background: white;
}

.pricing__wrapper--header-gradient--third,
.pricing__plan--btn--third {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

Testimonials

*/ 

.row__testimonials {
    display: flex;
}

.testimonials__container--left,
.testimonials__container--right {
    width: 50%;
}

.testimonials__container--right {
    padding-left: 4rem;
}

.testimonials__img {
    width: 100%;
    max-width: 100%;
}

.testimonials__stars {
    display: flex;
}

.testimonials__star--icon {
    width: 20px;
    max-width: 100%;
    margin-right: 0.25rem;
    fill: rgb(246 173 85);
}

.testimonials__rating--title {
    color: #243e63;
    font-size: 20px;
    margin: 16px 0;
    font-weight: bold;
}

.testimonials__rating--para {
    color: #4A5568;
    line-height: 1.5;
    font-size: 16px;
    margin: 16px 0 40px 0;
}

.testimonials__rating--author {
    display: flex;
    align-items: center;
}

.testimonials__rating--author--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__rating--author {
    width: 50%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.testimonials__rating--author--img {
    width: 80px;
    max-width: 100%;
    border-radius: 50%;
}

.testimonials__rating--author--button {
    padding: 16px;
    border-radius: 50%;
    border: none;
    cursor: not-allowed;
}

.testimonials__rating--author--buttons {
    display: flex;
}

.testimonials__arrow--border {
    border-right-width: 1px;
    border-left: 2px solid rgba(211, 211, 211, 0.37);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.testimonials__rating--author--button-left {
    margin-right: 12px;
}

.testimonials__rating--author--button-right {
    margin-left: 12px;
}

.arrow {
    color: rgb(100 21 255);
}

.testimonials__rating--author--name {
    color: #243e63;
    font-weight: bold;
    font-size: 20px;
}

.testimonials__rating--author--background {
    color: #7c8ba1;
    font-size: 16px;
}

/*

FAQ

*/ 

.faq__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    background-color: rgb(100 21 255);
    border-radius: 12px;
}

.banner__text {
    font-size: 1.875rem;
    font-weight: bold;
    color: white;
    width: 50%;
    max-width: 100%;
}

.btn__banner {
    padding: 20px 40px;
    border-radius: 40px;
    font-weight: bold;
    color: white;
}

.btn__banner--left {
    margin-right: 32px;
    background-color: rgb(245 101 10);
    border: none;
}

.btn__banner--right {
    background-color: #1a202c00;
    border: 1px solid lightgray;
    
}


/*

FOOTER

*/

footer {
    background-color: rgb(100 21 255);
}



.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__list--container {
    padding: 6rem 0;
    margin-top: -48px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__list--title {
    margin-top: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 24px;
   text-transform: uppercase;
}

.footer__list--item {
    margin-top: 12px;
    font-size: 14px;
    padding-bottom: 4px;
}

.footer__list--link {
    color: white;
    font-weight: 500;
}

.footer__list--link:hover {
    text-decoration: underline;
}

.footer__divider {
    margin: 64px 0;
}

.footer__divider--line {
    color: #243e63;
}

.footer__bottom--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__img {
    width: 100%;
    max-width: 40px;
}

.footer__bottom--logo {
    display: flex;
    align-items: center;
}

.footer__logo--text,
.footer__bottom--copyright {
    color: white;
}

.footer__logo--text {
    font-weight: 900;
    font-size: 20px;
    margin-left: 8px;
}

.footer__bottom--row {
    padding-bottom: 6rem;
}

.footer__social--links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social--link--svg {
    color: black;
}

.footer__social--link {
    display: block;
    width: 16px;
}

.footer__social--links--icon--container {
    background-color: white;
    padding: 8px 12px;
    border-radius: 50%;
    margin-right: 16px;
}

@media (max-width: 1024px) {

    section {
        padding: 0 36px;
    }

    nav {
        padding: 0 46px;
    }

    .btn__mobile--menu {
        display: block;
    }

    .nav__links--list {
        display: none;
    }

    .row__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__column--left {
        align-items: center;
        text-align: center;
        width: 70%;
    }

    .header__title {
        font-size: 30px;
    }

    .features__list--item {
        width: calc(100% / 3);
    }

    .pricing__wrapper {
        display: flex;
        flex-direction: column;
        width: calc(100% / 2);
        max-width: 100%;
        flex-wrap: wrap;
    }

    .pricing__description--container {
        text-align: center;
    }

    .section__sub-title {
        font-size: 16px;
    }

    .section__title {
        font-size: 48px;
    }

    .section__para {
        font-size: 16px;
    }

    .section__sub-header {
        font-size: 16px;
    }

    .testimonials__rating--author--wrapper {
        margin-right: 24px;
    }

    .banner__container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .banner__text {
        width: 80%;
        margin-bottom: 24px;
    }

    .footer__container,
    .footer__divider,
    .footer__bottom--row {
        padding: 0px 36px 36px;
    }
}

@media (max-width: 768px) {
    section {
        padding: 0 50px;
    }

    .row__quality-work {
        display: flex;
        flex-direction: column-reverse;
    }

    .quality-work__left--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .section__title,
    .section__sub-title,
    .section__para {
        text-align: center;
    }

    .features__list--item {
        width: calc(100% / 2);
    }

    .section__title {
        font-size: 36px;
    }


}

























